.picappoint{
    margin-top: 100px;
    display: flex;
    width: 100%;
}
.pic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic img{
    margin-top:1px;
    width:90%;
    position: relative;
}

.text{
    margin-top: 100px;
    margin-left: 100px;
    width: 500px;
    z-index:300;
    font-size:xx-large;
    position: absolute;
}
.text p{
    font-size:large;
    width: 400px;
}
.bookvid{
    display:flex;
}
.bookapp{
    position:absolute;
    float:right;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 60px;
    font-size: medium;
    background-color: #17C1A3;
    border-radius: 10px;
    border:none;
}

.doctalk{
    float:right;
    display: flex;
    align-items: center;
    margin-left: 250px;
    padding-top: 5px;
    font-size: medium;
}


.bookbox{
    position: absolute;
    display: flex;
    width:70%;
    justify-content: center;
    align-items:right;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    height: 100px;
    margin-top: 470px;
    margin-left: 125px;
    box-shadow: 0px 3px 4px #646464;
    padding: 60px;
}
input{
    width:230px;
    height:25px;
    border-width: 1px;
    border-radius: 2px;
    margin-right: 20px;
    margin-bottom: 15px;
    padding: 12px 20px 12px 10px;
    color: #27302f;


}
select{
    width:262px;
    height:50px;
    border-radius: 2px;
    margin-right: 20px;
    margin-bottom: 15px;
    padding: 12px 20px 12px 10px;
    color: #27302f;
}
.row1{
    flex-direction: row;


}
.row2{
    flex-direction: row;
}
.bookapp2{
    position:absolute;
    color: rgb(255, 255, 255);
    background-color: #17C1A3;
    border-radius: 10px;
    border:none;
    height:50px;
    width:270px;
}
.depthead{
    width:50px;
    font-size: larger;
    margin-left: 60px;
    margin-top: 250px;

}
.whygg p{
font-size: small;
}
.whygg p img{
margin-left: 50px;
width:50px;
}
.rectangle{
    background-color: #E8F9F6;
    width: 90%;
    height: 450px;
    position: relative;
    margin: 0 auto;
}
#rotimg{
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 70;
    bottom: 0;
    margin: auto;
}
#doc{
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 70;
    bottom: 0;
    margin: auto;
}
.cont{
    display: flex;
}
.tick{
    width:10px;
    line-height: 25px;
    margin-top: 10px;
}

.whyggtext{
position: absolute;
font-size: larger;
font-family: Arial, Helvetica, sans-serif;
margin-left:700px;
margin-top:100px;
}
.special{
    position: absolute;
    padding-top:0;
    padding-left: 40px;
    line-height: 20px;
}
.subscribe{
    height:400px;
    width:100%;
    background-color: #EAF2FF;
    position: relative;
}
.subrectangle{
    position: absolute;
    height:200px;
    margin-top: 100px;
    margin-left:110px;
    width:80%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}
.mailsub{
    display: inline-block;
}
.newsletter{
    position: absolute;
    margin-top: 0px;
    border-bottom: 1px solid black;
    display: inline-block;
    z-index:3;
}
.subrectangle img{
    width: 60%;
    height:100%;
}
footer{
    background-color: #d6d6d6;
    width:90%;
    height:200px;
    bottom: 0;
    padding-left:5%;
    padding-right: 5%;
    padding-top: 50px;
}
.footabout{
    display:flex;
    justify-content: space-around;
}
.footgg{
    flex:2;
}
.aboutgg{
    flex:1;
}
.legal{
    flex:1;
}