
* {
    margin: 0;
}
.maincontainer {
    background-color: rgb(128, 78, 78);
}
.content{
    padding: 10px;
    display: flex;
}
.toprow {
    background-color: rgb(3, 3, 74);
    margin-top: 20px;

}
.pic {
    padding: 20px;
    height : 20px;
    flex:0.8;
    z-index: 999;
}
.name {
    width:100%;
    align-items: center;
    
    color: aliceblue;
    position: relative;
    padding: 10px;
    text-align: center;
    font-size:large;
    height: 100px;
    margin-top: 50px;
}
.leftblock {
    padding: 10px;
  color: rgb(22, 29, 36);
  height: 1000px;
  flex: 0.8;
}
.rightblock {
    background-color: rgb(255, 255, 255);
    height: 1000px;
    flex: 2;
}

.works {
    margin: 10px;
}
